* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.puzzle-figure {
  margin-block-start: 45px;
}

ul {
  display: block;
  padding: 10px;
  background-color: black;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin-block-end: 0.2em;
  position: relative;
}

.puzzle {
  display: grid; 
  grid-template-columns: repeat(3, 0fr);
  grid-auto-rows: 0fr;
}

.tile {
  display: flex; 
  background-color: white;
  height: 70px;
  width: 70px;
  align-items: center;
  justify-content: center;
  border-style: outset;
  border-top-color: rgb(216, 216, 216);
  border-left-color: rgb(216, 216, 216);
  border-width: 7px;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  transition: all 0.1s ease-out;
  cursor: pointer;
} 

figcaption {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  margin-left: 30px;
}